<!DOCTYPE html>
<html>

<head>
    <title>Sara Bogomolny</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Galleria -->
    <script src="lib/galleria/galleria-1.4.2.min.js"></script>
    <!-- custom -->
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/main.js"></script>
</head>

<body>
    {{{body}}}
</body>
</body>

</html>
