<div class="hero">
    <div class="navHolder">
        {{> nav}}
    </div>
    <div class="name-box col-md-3 col-md-offset-1">
        <div class="name">Sara Bogomolny</div>
        <div class="byline">Actor | Director | Writer</div>
    </div>
</div>
