{{#each items}}
    <div class="news-card panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{headline}}</h3>
        </div>
        <div class="panel-body">{{content}}</div>
    </div>
{{/each}}
{{@exphbs.layout}}
