<script type="text/javascript" src="lib/pdfobject/pdfobject.min.js"></script>
<div id="pdf">
</div>
<div id="headshot">
    </script>
    <script>
    PDFObject.embed("/pdf/resume.pdf", "#pdf");
    </script>
</div>
