.navbar {
	position: relative;
	width: 100%;

}

.navbar{
        border: none;
        border-radius: 0;
        background-color: rgba(0,0,0,0.5);
        color: black;
}
.navbar ul{
	padding-top: 5px;
	color: #000;
}

.navbar .nav > li > a {
	color: #FFF;
}
.navbar .nav > li > a:hover {
	color: #000;
}
.navbar-brand {
	color: #FFF;
}

.name-box{
	text-align: center;
	font-family: "Zapfino";
	font-size: 5rem;
	color: #FFF;
}

.spacer-100{
	height: 100px;
}

.hero { 
  background: url(../img/hero.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
}
