.social .fa-facebook:hover {
  background: #4060A5; }

.social .fa-twitter:hover {
  background: #00ABE3; }

.social .fa-instagram:hover {
  background: #375989; }

.social .fa-youtube:hover {
  background: #FF1F25; }

.social .fa-youtube-play:hover {
  background: #DF192A; }

.social .fa-envelope:hover {
  background: #55FFDD; }

.social .fa-snapchat-ghost:hover {
  background: #ECE100; }

/* Site */
.spacer-100 {
  height: 100px; }

.spacer-25 {
  height: 25px; }

.body-panel {
  width: 60%; }

.content-text {
  font-family: "Josefin Slab", serif;
  text-align: center; }

body {
  width: 100vw;
  height: 100vh; }

/* Nav Bar */
.navbar {
  position: relative;
  width: 100%;
  color: black;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Flamenco", cursive;
  font-size: 2rem; }
  .navbar ul {
    padding-top: 5px;
    color: #000; }
  .navbar .nav > li > a {
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px; }
    .navbar .nav > li > a:hover {
      color: #000; }

.navbar-brand {
  color: #FFF; }

/*Home*/
.name-box {
  font-family: 'Zapfino';
  font-size: 5rem;
  text-align: center;
  color: #FFF;
  padding-top: 75px; }
  .name-box .name {
    font-family: "Cherry Swash", cursive;
    font-size: 5rem; }
  .name-box .byline,
  .name-box .news-title {
    font-family: "Flamenco", cursive;
    font-size: 2rem; }

.hero {
  height: 100%;
  background-image: url(../img/hero2.jpg);
  background-repeat: no-repeat;
  background-position: 0 25%;
  background-color: #0E0E0F;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.news-cards {
  position: relative;
  top: 125px; }
  .news-cards .news-card-0 {
    position: absolute;
    top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 0;
    height: 200px;
    width: 100%;
    display: block;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out; }
    .news-cards .news-card-0:hover {
      -webkit-transform: translate(0, -150px);
      -moz-transform: translate(0, -150px);
      -o-transform: translate(0, -150px);
      -ms-transform: translate(0, -150px);
      transform: translate(0, -150px); }
  .news-cards .news-card-1 {
    position: absolute;
    top: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    height: 200px;
    width: 100%;
    display: block;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out; }
    .news-cards .news-card-1:hover {
      -webkit-transform: translate(0, -200px);
      -moz-transform: translate(0, -200px);
      -o-transform: translate(0, -200px);
      -ms-transform: translate(0, -200px);
      transform: translate(0, -200px); }
  .news-cards .news-card-2 {
    position: absolute;
    top: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
    height: 200px;
    width: 100%;
    display: block;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out; }
    .news-cards .news-card-2:hover {
      -webkit-transform: translate(0, -250px);
      -moz-transform: translate(0, -250px);
      -o-transform: translate(0, -250px);
      -ms-transform: translate(0, -250px);
      transform: translate(0, -250px); }
  .news-cards .news-card-3 {
    position: absolute;
    top: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 3;
    height: 200px;
    width: 100%;
    display: block;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out; }
    .news-cards .news-card-3:hover {
      -webkit-transform: translate(0, -300px);
      -moz-transform: translate(0, -300px);
      -o-transform: translate(0, -300px);
      -ms-transform: translate(0, -300px);
      transform: translate(0, -300px); }
  .news-cards .news-card-4 {
    position: absolute;
    top: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 4;
    height: 200px;
    width: 100%;
    display: block;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out; }
    .news-cards .news-card-4:hover {
      -webkit-transform: translate(0, -350px);
      -moz-transform: translate(0, -350px);
      -o-transform: translate(0, -350px);
      -ms-transform: translate(0, -350px);
      transform: translate(0, -350px); }

.news-card-date {
  float: right; }

.news-card h3 {
  display: inline-block; }

/*Gallery*/
.galleria {
  width: 100%;
  height: 350px;
  background: #000; }

.gal-instance {
  margin-left: 5.5%; }

.gal-title {
  font-family: "Flamenco", cursive;
  text-align: center; }

/* Bio */
.bio-text {
  padding: 10px 30px 10px 30px; }

.car-holder {
  padding-top: 10px; }

/* contact */
.social {
  margin: 0;
  padding: 0; }
  .social ul {
    margin: 0;
    padding: 5px; }
    .social ul li {
      margin: 5px;
      list-style: none outside none;
      display: inline-block; }
  .social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%; }
    .social i:hover {
      color: #FFF;
      text-decoration: none;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
  .social a {
    color: #000;
    text-decoration: none; }

/* Resume */
#headshot {
  background: url(../img/hero2.jpg) no-repeat center center;
  padding-top: 10rem;
  width: 100%; }

.pdfobject {
  width: 80%; }
  .pdfobject-container {
    height: 100vh; }

/*# sourceMappingURL=main.css.map */
