.navbar {
  position: relative;
  width: 100%;
  color: black;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Flamenco", cursive;
  font-size: 2rem; }
  .navbar ul {
    padding-top: 5px;
    color: #000; }
  .navbar .nav > li > a {
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px; }
    .navbar .nav > li > a:hover {
      color: #000; }

.galleria {
  width: 100%;
  height: 350px;
  background: #000; }

.gal-instance {
  margin-left: 5.5%; }

.gal-text {
  font-family: "Josefin Slab", serif;
  text-align: center; }

.gal-title {
  font-family: "Flamenco", cursive;
  text-align: center; }

.navbar-brand {
  color: #FFF; }

.name-box {
  font-family: 'Zapfino';
  font-size: 5rem;
  text-align: center;
  color: #FFF;
  padding-top: 75px; }
  .name-box .name {
    font-family: "Cherry Swash", cursive;
    font-size: 5rem; }
  .name-box .byline {
    font-family: "Flamenco", cursive;
    font-size: 2rem; }

.spacer-100 {
  height: 100px; }

.spacer-25 {
  height: 25px; }

.hero {
  height: 100%;
  background: url(../img/hero.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.body-panel {
  width: 60%; }

body {
  width: 100vw;
  height: 100vh; }
