@mixin bg-size($size) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

@mixin transition($props) {
    transition: $props;
    -moz-transition: $props;
    -webkit-transition: $props;
    -o-transition: $props;
    -ms-transition: $props;
}

@mixin border-radius($props) {
    border-radius: $props;
    -moz-border-radius: $props;
    -webkit-border-radius: $props;
    -o-border-radius: $props;
}

@mixin translate($horiz, $vert) {
    -webkit-transform: translate($horiz, $vert);
    -moz-transform: translate($horiz, $vert);
    -o-transform: translate($horiz, $vert);
    -ms-transform: translate($horiz, $vert);
    transform: translate($horiz, $vert);
}

@mixin transition($props) {
    -webkit-transition: $props;
    -moz-transition: $props;
    -o-transition: $props;
    transition: $props;
}

@function translate-cards($card-index) {
    @return $card-index * -50px;
}

$name-font: 'Cherry Swash',
cursive;
$par-font: 'Josefin Slab',
serif;
$title-font: 'Flamenco',
cursive;
$color-map: (facebook: #4060A5, twitter: #00ABE3, instagram: #375989, youtube: #FF1F25, youtube-play: #DF192A, envelope: #55FFDD, snapchat-ghost: #ECE100);
@each $service,
$color in $color-map {
    .social .fa-#{$service}:hover {
        background: $color;
    }
}


/* Site */

.spacer-100 {
    height: 100px;
}

.spacer-25 {
    height: 25px;
}

.body-panel {
    width: 60%;
}

.content-text {
    font-family: $par-font;
    text-align: center;
}

body {
    width: 100vw;
    height: 100vh;
}


/* Nav Bar */

.navbar {
    position: relative;
    width: 100%;
    color: black;
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font: {
        family: $title-font;
        size: 2rem;
    }
    ul {
        padding-top: 5px;
        color: #000;
    }
    .nav > li > a {
        color: #FFF;
        padding-top: 5px;
        padding-bottom: 5px;
        &:hover {
            color: #000;
        }
    }
}

.navbar-brand {
    color: #FFF;
}


/*Home*/

.name-box {
    .name {
        font: {
            family: $name-font;
            size: 5rem;
        }
    }
    .byline {
        font: {
            family: $title-font;
            size: 2rem;
        }
    }
    font-family: 'Zapfino';
    font-size: 5rem;
    text-align: center;
    color: #FFF;
    padding-top: 75px;
}

.hero
 {
    height: 100%;
    background: url(../img/hero.jpg) no-repeat center center;
    @include bg-size(cover);
}

.news-cards {
    position: relative;
    @for $i from 0 through 4 {
        .news-card-#{$i} {
            position: absolute;
            top: $i * 50px;
            // white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            z-index: $i;
            height: 200px;
            width: 100%;
            display: block;
            @include transition(1s ease-in-out);
        }
        &:hover > .news-card-#{$i} {
            @include translate(0, $i * 175px);
        }
    }
}


/*Gallery*/

.galleria {
    width: 100%;
    height: 350px;
    background: #000;
}

.gal-instance {
    margin-left: 5.5%;
}

.gal-title {
    font-family: $title-font;
    text-align: center;
}


/* Bio */

.bio-text {
    padding: 10px 30px 10px 30px;
}

.car-holder {
    padding-top: 10px;
}


/* contact */

.social {
    margin: 0;
    padding: 0;
    ul {
        margin: 0;
        padding: 5px;
        li {
            margin: 5px;
            list-style: none outside none;
            display: inline-block;
        }
    }
    i {
        width: 40px;
        height: 40px;
        color: #FFF;
        background-color: #909AA0;
        font-size: 22px;
        text-align: center;
        padding-top: 12px;
        @include transition(all ease 0.3s);
        @include border-radius(50%);
        &:hover {
            color: #FFF;
            text-decoration: none;
            @include transition(all ease 0.3s);
        }
    }
    a {
        color: #000;
        text-decoration: none;
    }
}


/* Resume */

#headshot {
    background: url(../img/hero.jpg) no-repeat center center;
    padding-top: 10rem;
    width: 100%
}

.pdfobject {
    // border: 1px solid #666;
    width: 80%;
    &-container {
        height: 100vh;
    }
}
